:root{
    --background1: #f7dcb9;
    --background2: #081d26; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background1);
    color: #fff;

}

.input {
    position: fixed;
    top: 50%;
    left: 600px;
    transform: translate(-30%, -50%);
    background: var(--background2);
    padding: 50px;
    width: 500px;
    box-shadow: 0px 0px 25px 10px #deac80;
    border-radius: 15px;
}

.input h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: -20px;
}

.box-input {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 2px solid white;
    padding: 8px;
}

.box-input input {
    width: 90%;
    padding: 5px 0;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-input input::placeholder {
    color: white;
}

.box-input select {
    width: 90%;
    padding: 1px 10;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
}

.box-input select option {
    background: #b5c18E;
    outline: none;
    color: white;
    font-size: 18px;
}

.btn-input {
    margin-left: 10px;
    margin-bottom: 20px;
    background: none;
    border: 1px solid white;
    width: 92.5%;
    padding: 10px;
    color: white;
    font-size: 18px;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
}

.box-input i {
    font-size: 20px;
}

.btn-input:hover {
    background: rgba(234, 240, 246, 0.8);
}

.bottom {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -20px;
}

.bottom p {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.bottom a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .input {
        width: 90%; /* Mengurangi lebar konten saat layar diperkecil */
        top: 15%;
        left: 50%; /* Menggeser konten ke tengah */
        transform: translateX(-50%);
    }
}

